<div class="card bg-base-100 shadow-sm animate-fadeIn">
  <figure class="px-10 pt-10">
    <img
      src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
      alt="Shoes"
      class="rounded-xl" />
  </figure>
  <div class="card-body items-center text-center">
    <h2 class="card-title">Card Title</h2>
    <p>A card component has a figure, a body part, and inside body there are title and actions parts</p>
    <div class="card-actions">
     <a [routerLink]="['/product','t-shirt']"
     class="btn btn-primary"
     >Ver</a>
    </div>
  </div>
</div>
