@font-face {
  font-family: Montserrat;
  src: url("../public/assets/fonts/Montserrat/MontserratAlternates-Medium.ttf");
}

@import "tailwindcss";

@theme {
  --font-montserrat: "Montserrat", "sans-serif";
  --animate-fadeIn: fadeIn 0.5s ease-in-out;

  @keyframes fadeIn {
    0% { opacity: 0 };
    100% { opacity: 1 };
  }
}

@plugin "daisyui" {
  themes: night --default;
}
